name: Playwright Tests

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: false
        default: 'info'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install
    - name: Ensure Playwright browsers are installed
      run: |
        poetry run playwright install --with-deps chromium
    - name: Run Playwright tests
      run: |
        poetry run pytest tests/test_demoblaze.py --headless-mode true --html=report.html --self-contained-html -s
    - name: Publish Test Summary
      if: always()
      run: |
        poetry run python utils/publish_summary.py
        cat $GITHUB_STEP_SUMMARY
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results-all
        path: report.html
        retention-days: 30
